.Wording{
    text-align: right;
    padding-top: 700px;
    padding-left: 500px;
    font-size: 50px;
    font-weight: 100px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
